.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(18, 18, 58);
  min-height: 100vh;
  padding: 2rem 7rem;
  width: 65%;
  border-right: 1px dotted rgb(179, 106, 247);
}
.box1{
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
}

.graph {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 20px 0;
  overflow-x: auto; 
  width: 90%;
  flex-wrap:nowrap;
  max-width: 70rem;
}

.shape2{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: rgb(135, 102, 245);
  position: absolute;
  filter: drop-shadow(0 0 2em #d4d5e4aa);
  z-index: 0;
  filter: blur(10rem);
}

.bar {
  flex: 1 1 auto; 
  min-width: 7px;
  max-width: 80px; 
  margin: 0 2px;
  background-color: blue;
  color: white;
  padding: 10px 0;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 4px;
  transition: all linear 0.5s;
}

.comparing {
  background-color: rgb(63, 206, 231);
}

.speed{
  font-size: 20px;
  color:rgb(255, 255, 255);
  background-color:transparent;
  border:none;
  padding: 0 3vmax 0 3vmax;
  border-radius: 5px;
}

.buttons {
  width: 70%;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  gap: 2rem;
}
.incdec{
  display:flex;
  align-items: center;
  margin: 10px;
  font-size: 2rem;
  height: 21px;
  background-color: transparent;
  border:none;
  color:white;
}
.speed-control{
  border:1px solid white;
  margin-top: 20px;
  border-radius: 8px;
  display:flex;
  align-items: center;
}
.buttons .graph-control {
  margin-top: 20px;
  height: 50px;
  width: 220px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  border:none;
}
.graph-control.diabled{
    background-color: rgb(255, 52, 52);
}
.graph-control.paused{
  background-color: rgb(5, 165, 5);
  color:white;
}
.graph-control.normal{
  background-color: red;
  color:white;
}
.main-box h1 {
  color: white;
  padding-top: 20px;
  font-size: 30px;
}

 .box2 {
  width: 80%; 
  margin: 2rem auto;
  background: rgba(255, 255, 255, 0.05);
  color: white;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  padding: 2rem;
  border: 2px solid rgba(255, 255, 255, 0.1);
  animation: fadeSlideIn 1s ease-in-out;
  max-width: 80rem;
}


.box2-heading {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  border-bottom: 2px solid #00ffe1;
  padding-bottom: 0.5rem;
  display: inline-block;
}

.sort-message {
  color: #02ff02;
  font-weight: bold;
  font-size: 1.2rem;
  animation: fadeInScale 0.8s ease-in-out;
}


.details-box {
  display:flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(135deg, #0b0b2b, #1c1f4a);
  width: 35%;
  padding: 2rem;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.row1,
.row2 {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin: 2rem 0;
  flex-wrap: wrap;
}

.detail-card {
  flex:1 1 auto;
  padding: 20px;
  height: 200px;
  min-width: 240px;
  max-width: 400px;
  border-radius: 12px;
  font-size: 1.5rem;
  font-weight: 400;
  color: #f0e4e4;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  position:relative;
}

.detail-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.4);
}

.detail-card span {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  animation: fadeIn 1s ease-in-out;
}

.detail-card .getInfo {
  font-size: 2rem;
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 3vh;
  right: 4vh;
  color: rgb(224, 213, 213);
  transition: all 0.3s ease-in-out;
}
.detail-card .getInfo:hover{
  transform:rotate(50deg);
}
.steps{
  width: 100%;
  background: 
  linear-gradient(45deg, rgb(18,18,58), rgb(20,20,60), rgb(15,15,50)),
  radial-gradient(circle at center, rgba(255,255,255,0.05), transparent);
  width: 100%;
  min-height: 100vh;
}
.parts{
  padding: 3rem;
  display:flex;
  justify-content: center;
}
.spaceSvg{
  width: 50%;
  display:flex;
  align-items: center;
  justify-content: center;
}
.space{
   width: 80%;
}
.space:hover{
  filter: drop-shadow(0 0 4em #646cffaa);
}
.steps h4{
  font-size: 4rem;
  color: white;
  text-align: center;
  font-weight: 100;
  padding: 5rem 3rem 2rem;
}
.definition{
    background: 
  linear-gradient(45deg, rgb(18,18,58), rgb(20,20,60), rgb(15,15,50)),
  radial-gradient(circle at center, rgba(255,255,255,0.05), transparent);
  width: 100%;
  /* min-height: 100vh; */
  display:flex;
  justify-content: space-around;
  align-items: center;
  padding: 4rem;
}
.sortdef{
  color:white;
  font-size: 2.5vh;
  padding: 1.5rem;
  width: 40%;
  text-align: center;
}
.sortdef .shape{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: rgb(93, 58, 197);
  position: absolute;
  filter: drop-shadow(0 0 2em #646cffaa);
  z-index: 0;
  filter: blur(10rem);
}
.partition{
  position:absolute;
}
.mensvg{
  position: relative;
  height: 20vmax;
}
.braces{
  height: 4rem;
  display:block;
}
.braces{
  height: 4rem;
  display:block;
}
.braces{
  display:block;
  height: 4rem;
}
.circle{
  height: 40vmax;
  width: 40vmax;
  background-color: rgb(44, 6, 61);
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  transition: all 300ms;
}
.circle:hover{
  filter: drop-shadow(0 0 4em #646cffaa);
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Medium screen (Tablet) */
@media (max-width: 1024px) {
  .graph {
    height: 35rem;
  }

  .main-box {
    width: 100%;
    padding: 2rem;
    border-right: none;
    border-bottom: 1px solid white;
  }

  .details-box {
    width: 100%;
  }
  .definition{
    flex-direction: column;
  }
  .sortdef{
    font-size: 3vh;
    width: 100%;
  }
  .sortdef p{
    font-size: 2rem;
    padding: 20px;
  }
  .braces{
    height: 3rem;
  }
  .parts{
    display:block;
  }
  .spaceSvg{
    width: 100%;
    justify-content: center;
  }
  .space{
    width: 60%;
  }
  .steps h4{
    font-size: 3rem;
  }
}

/* Small screen (Mobile) */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .main-box {
    order: 1;
    width: 100%;
    padding: 1.5rem;
  }
   .braces{
    height: 2rem;
  }
  .details-box {
    order: 2;
    width: 100%;
    padding: 1.5rem;
  }
  .sortdef{
    font-size: 2.5vh;
    width: 100%;
  }
  .definition{
    padding: 1rem;
  }
  .buttons {
    flex-direction: row;
    align-items: center;
  }
  .buttons .speed-control{
    width: 18vmin;
  }
  .buttons .graph-control {
    width: 40%;
    margin: 10px 0;
  }

  .bar {
    width: 1.5rem;
    font-size: 14px;
  }

  .graph {
    flex-wrap: wrap;
    height: auto;
  }
  .detail-card{
    font-size: 1.5rem;
    height: 250px;
  }
  .detail-card .getInfo {
    font-size: 1.5rem;
  }
  .space{
    width: 100%;
    margin: 3rem 0 3rem 0;
    height: 25rem;
  }
  .steps h4{
    font-size: 7vw;
  }
}
@media(max-width: 480px){
  .buttons{
    flex-wrap: nowrap;
  }
  .buttons .graph-control{
    padding: 2px 0 2px 0;
    width: 7rem;
    font-size: 1rem;
    height: 2rem;
  }
  .braces{
    height: 1rem;
  }
  .speed-control{
    height: 2.4rem;
  }
  .speed{
    width: 100%;
  }
.space{
    width: 100%;
    margin: 3rem 0 3rem 0;
    height: 15rem;
  }
  .steps h4{
    font-size: 8.5vw;
    padding: 2rem 0.78rem;
  }
  .parts{
    padding: 2rem;
  }
   .sortdef{
    font-size: 2.4vh;
    width: 100%;
  }
  .definition{
    padding: 1rem;
  }
}
